<!DOCTYPE html>
<html>
<head>
  <style>
    .page {
      page-break-before: always;
    }

    body> .page:first-of-type {
      page-break-before: avoid;
    }

    h1, h2 {
      text-transform: capitalize;
    }

    h1, h2, h3 {
      margin: 0px;
    }

    h1.category {
      margin-top: 200px;
    }

    div {
      width: 100%;
    }

    ul {
      column-count: 2;
      margin-bottom: 5px;
      margin-top: 2px;
      padding-left: 20px;
    }

    ol {
      margin-bottom: 5px;
      margin-top: 2px;
      padding-left: 20px;
    }

    li {
      column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
    }
  </style>
</head>
<body>
  <% @recipes.group_by(&:category).sort_by(&:first).each do |category, category_recipes| %>
    <% if @recipes.size > 1 %>
      <div class="page">
        <h1 class="category"><%= category %></h1>
        <hr />
      </div>
    <% end %>

    <% category_recipes.each do |recipe| %>
      <div class="page">
        <h2><%= recipe.name %></h2>
        <hr />
        <div style="<%= "font-size: #{recipe.text_size}em;" if recipe.text_size %>">
          <% recipe.groups.each do |group| %>
            <% if group.ingredients.any? %>
              <h3><%= group.name || 'Ingredients' %></h3>
              <ul>
                <% group.ingredients.each do |ingredient| %>
                  <li><%= ingredient %></li>
                <% end %>
              </ul>
            <% end %>
            <% if group.steps.any? %>
              <% if group.ingredients.none? && group.name %>
                <h3><%= group.name %></h3>
              <% end %>
              <ol>
                <% group.steps.each do |step| %>
                  <li><%= step %></li>
                <% end %>
              </ol>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</body>
</html>
